@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("@fontsource-variable/lora/files/lora-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("@fontsource-variable/roboto-mono/files/roboto-mono-latin-wght-normal.woff2")
    format("woff2-variations");
}
